<!--//footer-->
<div class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-3 footer-middle-in">
                <a href="/">
                    <h3> Lip's Beauty</h3>
                </a>
                <p>Làm đẹp, Mỹ phẩm & Chăm sóc cá nhân</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">

            <p class="footer-class">&copy; 2019 Lip's Beauty. </p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//footer-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/simpleCart.min.js"> </script>
<!-- slide -->
<script src="/javascripts/bootstrap.min.js"></script>
<!--light-box-files -->
<script src="/javascripts/jquery.chocolat.js"></script>
<link rel="stylesheet" href="/stylesheets/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('a.picture').Chocolat();
    });
</script>
<script src="/javascripts/imagezoom.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="/javascripts/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>


</body>

</html>